/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
html {
  font-family: "Roboto Condensed", "Arial Narrow", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gloria Hallelujah", "Noteworthy", "Times New Roman", sans-serif;
  line-height: 150%;
}

pre, code {
  font-family: "Source Code Pro", "Menlo", "Courier", monospace;
  color: #4f4f4f;
}

h1.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  color: #4f4f4f;
}

h3 {
  font-size: 20px;
  color: #828282;
}

p {
  line-height: 150%;
  font-size: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #ff6d6d;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ff6d6d;
}

p > code {
  font-size: 95%;
}

h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code, a > code {
  color: inherit;
}

sup {
  vertical-align: super;
  font-size: 80%;
}

a[rel=footnote]::before {
  content: '['
}

a[rel=footnote]::after {
  content: ']'
}

/* Spacing */

article {
  padding: 30px 10px 0 10px;
}

article {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}

article > * {
  /* Space all immediate children of an article by 30px, centering everything by
   * default
   */
  margin: 0 auto 30px auto;
}

h1, h2, h3, h4, h5, h6 {
  /* Override the spacing rule above: only move content below headers down by
   * 10px */
  margin-bottom: 10px;
}

p + h1 {
  /* Space out sections of an article more than regular spacing */
  margin-top: 45px;
}

.highlight, article > pre, .katex-display {
  /* Make code blocks and formulas horizontally scrollable */
  overflow-x: auto;

  /* For reasons I'm unclear of, the <code> inside the <pre> is larger than the
   * <pre>, so it scrolls horizontally. Fudge it to fix this.
   */
  padding-bottom: 15px;
}

iframe {
  display: block;
  width: 100%;
}

article > p > img {
  /* Center images */
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Site nav */
header {
  height: 260px;
  overflow: visible;
  margin: 0 auto -260px auto;
  width: 130px;
  /* 750 / 2 + 130 / 2 + 60 = 500 */
  transform: translate(-500px, 70px);
  text-align: center;
  display: flex;
  flex-direction: column;
}

header a, header a:hover {
  color: inherit;
  border-bottom: none;
}

.trace-of-me {
  height: 130px;
  width: 130px;
}

.trace-of-me > a {
  display: block;
}

.site-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 125%;
}

.my-name {
  font-size: 20px;
  line-height: 125%;
}

.post-date {
  font-size: 16px;
  color: #828282;
  line-height: 125%;
}

@media (max-width: 1130px) {
  header {
    height: auto;
    margin: 30px auto 0 auto;
    width: 100%;
    max-width: 750px;
    transform: none;
    width: 290px;
    flex-direction: row;
  }

  .trace-of-me {
    float: left;
  }

  .site-text {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }
}
