<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ end }}</title>
  <meta property="og:image" content="http://jamie-wong.com/images/logo.png" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="fb:admins" content="1652790284" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="stylesheet" href="/stylesheets/screen.css" />
  <link rel="stylesheet" href="/stylesheets/pygments.css" />
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto+Condensed|Source+Code+Pro' rel='stylesheet' type='text/css'>
</head>
<body lang="en" {{ if .IsHome }}class="homepage"{{ end }}>
<div id="main">
{{ partial "author.html" . }}
{{ block "main" . }}{{ end }}
</div>
{{ partial "analytics.html" }}
</body>
</html>
