<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta property="og:image" content="http://jamie-wong.com/images/logo.png" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="fb:admins" content="1652790284" />

    <link rel="icon" href="/favicon.ico" />

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href='http://fonts.googleapis.com/css?family=Questrial|Sansita+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/pygments.css" type="text/css" />
  </head>

  <body class="bp">
    <div class="page-container">
      <div class="page-sidebar-container">
        <div class="page-sidebar">

          <a href="/"><h1 class="site-title">
            Zerø Wind
          </h1></a>

          <div class='my-picture'></div>

          <h2 class='my-name'>Jamie Wong</h2>

          <div class='short-bio'>
            <p>
              I'm a uWaterloo Software Engineering student from Ottawa.
              I rant about software.
            </p>
          </div>

          <div class="page-nav">
            <ul>
              <li><a href="/">posts</a></li>
              <li><a href="http://feeds.feedburner.com/jamiewong">feed</a></li>
              <li><a href="/resume/">resume</a></li>
              <li><a href="https://github.com/jlfwong">github</a></li>
              <li><a href="http://twitter.com/jlfwong">twitter</a></li>
              <li><a href="http://www.linkedin.com/profile/view?id=71283243">linkedin</a></li>
              <li><a href="http://stackoverflow.com/users/303911/jamie-wong">stack overflow</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="page-content-container">
        <div class="page-content">
          {% if page.title %}
            <h1 class='page-title'>{{ page.title }}</h1>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>

    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "{{ site.google_analytics.account }}"]);
      _gaq.push(["_trackPageview"]);
      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </body>
</html>
